@use "_global.scss" as *;

.showcase-wrapper {
    background: black;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../assets/background.jpg_large");
    background: linear-gradient(rgba(10, 0, 60, .1), rgba(125, 45, 238, .7));
    background-repeat: no-repeat;
    background-size: cover;
    
}

article {
    padding: 30rem 0;
    height: 100vh;
    width: 80%;
    @include flex(center);
    margin: 0 auto;
    .showcase-container {
        @include flex(center);
        gap: 5rem;
        .showcase-text {
            border-radius: 15px;
            padding: 3rem;
            width: 65%;
            .showcase-title {
                font-size: $fs-biggest;
                font-weight: $fw-bold;
                color: $white;
                line-height: 4rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: $fs-small;
                color: $neutral-grey;
                line-height: 1.7;
                margin-bottom: 3rem;
            }
            a button {
                border: 3px solid $accent;
                background-color: transparent;
                padding: 16px 32px;
                color: $white;
                cursor: pointer;
                border-radius: 50vw;
                font-size: $fs-medium;
                font-weight: $fw-bold;
                box-shadow: 0 0 100px 0 $accent;
                
                &:hover {
                    background-color: $accent;
                    box-shadow: 0 0 75px 0 $accent;
                }
            }
        }
        .showcase-img {
            width: 25%;
            img {
                border-radius: 15px;
                transform: rotate(5deg);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            }
            img:hover {transform: rotate(7deg) scale(1.1);
                box-shadow: 0 0 200px 0 $accent;
            }
        }
    }
}

@media screen and (max-width: 1420px) {
    .showcase-text {
        .showcase-title {
            font-size: $fs-big !important;
            line-height: normal !important;
        }
        p {
            font-size: $fs-smallest !important;
        }
    }
    
    
}

@media screen and (max-width: 768px) {
    article {
        padding: 5rem 0;
        height: 100vh;
        width: 100%;
        .showcase-container {
            position: relative;
            width: 100%;
            justify-content: start;
            .showcase-text {
                width: 100%;
                h2 {
                    font-size: $fs-small;
                    line-height: normal;
                }

                }
                }
                .showcase-img {
                    img {
                        position: absolute;
                        width: 30%;
                        top: 75px;
                        right: 30px;
                    }
            }
        }
    }




