@use "_global.scss" as *;

.filter-section {
    @include flex(center);
    align-items: start;
    width: 100%;
    padding: 5% 5%;
    gap: 5rem;
    background-color: $secondary-dark;
}

.filter-icon {
    display: none;
}


.filter {
    padding: 2%;
    background-color: $primary-dark;
    border-radius: 10px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 20%;


    &-title {
        color: $white;
        font-size: $fs-big;
    }
    &-category {
        color: $white;
        font-size: $fs-medium;
        padding-block: 1.5rem .2rem;
    }
    &-type {
        margin: .5rem;
    }
    label {
        color: $white;
        margin-left: .5rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;

    .catalog-card {
        padding: 1rem;
        border-radius: 15px;
        color: $white;
        border: 1px solid $secondary-dark;
        &:hover {
            border: 1px solid $accent;
        }
        
        .card-img {
            border-radius: 15px;
        }

        .card-title {
            font-size: $fs-big;
            padding-block: .5rem;
            font-weight: $fw-bold;
        }
        .card-desc {
            font-size: $fs-small;
            line-height: 1.4;
        }
        .card-price {
            text-align: start;
            display: block;
            padding-block: 1rem;
            font-size: $fs-medium;
        }
        .card-button {
            display: block;
            width: 100%;
            background-color: $accent;
            color: $white;
            padding: 16px 32px;
            border-radius: 50px;
            border: none;
            font-size: $fs-small;
            font-weight: $fw-bold;
            cursor: pointer;
            &:hover {
                background-color: #942fe6;
            }
        }
    }
}

.pages {
    padding-bottom: 5%;
    background-color: $secondary-dark;
    ul {
        @include flex(center);
    }
    li {
        border-radius: 0 0 0 5px;
        margin: .5rem;
        padding: .5rem .75rem;
        background-color: $secondary-dark;
        color: $white;
        border: .1px solid $accent;
        cursor: pointer;
        &:hover {
            background-color: $primary-dark;
        }
    }
    .page-active {
        background-color: $accent;
        &:hover {
            background-color: $accent;
        }
    }
    
}
@media screen and (max-width: 1400px) {
    .filter {
        width: 35%;
    }
    .catalog-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .catalog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .catalog-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .filter-section {
        flex-direction: column;
        padding: 2%;
        gap: 0;
    }
    .filter {
        min-width: 100%;
        padding: 3rem;
        display: none;
    }
    .catalog-card {
        min-width: 100%;
    }
    .filter-two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .filter-three-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .filter-icon {
        display: block;
        color: $white;
        background-color: $accent;
        cursor: pointer;
        font-size: $fs-medium;
        border-radius: 50px;
        padding: 1rem;
        align-self: end;
        margin-right: 3%;
        margin-block: 2%;
    }
    .open {
        display: block;
    }
}