footer {
    height: 100vh;
    background-color: #FFF;
}

.socials {
    color: white;
    i {
        padding: 1rem;
        background-color: #8062D6;
        border-radius: 100vh;
        font-size: 1.2rem;
    }
}