//Variables & mixins
$primary-dark: #0A003C;
$secondary-dark: #240E64;
$neutral-grey: #c3cbda;
$white: #fff;
$accent: rgb(177, 70, 254);

$fs-biggest: 3.5rem;
$fs-big: 2rem;
$fs-medium: 1.2rem;
$fs-small: 1rem;
$fs-smallest: .75rem;

$fw-bold: 700;
$fw-medium: 500;
$fw-small: 300;

@mixin flex($flex-y) {
    display: flex;
    justify-content: $flex-y;
    align-items: center;
}

//reset

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease .2s;
    scroll-behavior: auto smooth;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $primary-dark;
    border-radius: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
background: inherit;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-dark;
  }

body {
    background-color: $secondary-dark;
    width: 100%;
    font-family: 'Montserrat', 'Roboto';
}

ol, ul, li {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.background-wrapper {
    background: black;
    background-size: cover;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../assets/background.jpg_large");
    background: linear-gradient(rgba(125, 45, 238, 0.8), rgba(10, 0, 60, 0.8)), url("../assets/background.jpg_large"); /* The least supported option. */
}