main {
    padding: 10% 15%;
    display: flex;
    height: 100vh;
    position: relative;

    h1 {
        font-size: 4rem;
        font-weight: 300;
        margin-top: 3rem;
        margin-bottom: 1rem;
        span {
            font-weight: 700;
            color: #040D12;
        }
    }
    
    p {
        margin-bottom: 2rem;
        font-style: italic;
        span {
            text-decoration: underline;
        }
    }

    img {
        width: 80%;
        position: absolute;
        width: 40%;
        top: 60px;
        right: 150px;
        z-index: -1;
    }
}

.floater {
    position: absolute;
    width: 13%;
    top: 725px;
    left: 0;
    transform: rotate(15deg);
    filter: blur(5px)
}

.floater2 {
    position: absolute;
    width: 7%;
    top: 0;
    left: 500px;
    transform: rotate(-43deg);
    filter: blur(135px)
}