@use '_global.scss' as *;

main {
    .main-container{
        @include flex(start);
        align-items: start;
        gap: 10%;
        padding: 0 10%;
        height: 100vh;
        .title {
            @include flex(start);
            align-items: start;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
            padding: 10% 5% 0% 5%;
            h1 {
                color: $white;
                font-size: $fs-biggest;
            }
            p {
                font-size: $fs-small;
                line-height: 1.7;
                color: $neutral-grey;
                span {
                    font-style: italic;
                }
            }
            button {
                padding: 16px 32px;
                font-size: $fs-medium;
                border: none;
                background-color: linear-gradient(90deg, #3AAef8 0%, #9f62ed 100%);
                color: $white;
            }
        }
        .main-img {
            height: 100%;
            width: 30%;
            position: relative;
            z-index: 0;
            .first-img {
                position: absolute;
                border-radius: 15px;
                transform: scale(.7) rotate(10deg);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                z-index: 1;
                &:hover {
                    transform: scale(.75);
                    z-index: 3 !important;
                    box-shadow: 0 0 200px 0 $accent;
                }
            }

            .second-img {
                border-radius: 15px;
                transform: scale(.6) rotate(-5deg);
                position: absolute;
                left: 150px;
                top: 225px;
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                &:hover {
                    transform: scale(.65);
                    box-shadow: 0 0 200px 0 $accent;
                }
            }
        }
    }

/* BUTTON CSS */
.button-primary {
    margin-top: 3rem;
  padding: 15px 30px 15px 0;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(90deg, #3AAef8 0%, #B146FE  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: translateY(-3px);
}

.button-primary:active {
  transform: scale(0.95);
}
}

