@use './global' as *;

nav {
    @include flex(space-between);
    padding: 1rem 14.5%;
    backdrop-filter: blur(px);
    position: relative;
    position: sticky;

    .logo {
        font-size: $fs-big;
        font-weight: $fw-bold;
    }

    .hamburger-menu {
        display: none;
        cursor: pointer;
    }

    .nav-links {

        ul {
            @include flex(center);
            gap: 3rem;
            font-size: $fs-small;
            li {
                color: $neutral-grey;
                font-weight: $fw-medium;
            }
        }
        .active {
            color: $white;
        }
        a:hover {
            color: $accent;
        }

        i {
            position: relative;
        }
        span {
            background-color: red;
            padding: .3rem .5rem;
            border-radius: 100vw;
            font-size: $fs-smallest;
            position: absolute;
            top: -15px;
            left: 12px;
            color: $white;
        }
    }

    a, a:visited {
        color: $white;
    }

    #menu-open {
        font-size: $fs-medium;
    }

    #menu-close {
        display: none;
        font-size: $fs-medium;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        padding: 1rem 5%;
    }
    .logo a {
        font-size: $fs-medium;
    }
    .nav-links li a{
        font-size: $fs-small;
    }
}

@media only screen and (max-width: 768px) {
    nav {

        .nav-links {
            position: absolute;
            z-index: 1;
            background-color: $secondary-dark;
            top: 80px;
            left: 0px;
            width: 100%;
            display: none;
            ul {
                flex-direction: column;
                padding: 2rem;
            }
        }
    }

    nav .hamburger-menu {
        color: $white;
        @include flex(end);
    }
    
    .nav-links.open {
        display: block;
    }

    #menu-open.iconWeg {
        display: none;
    }
    #menu-close.show {
        display: block;
    }

}