@use "_global.scss" as *;

.review {
    h2 {
        color: $white;
        display: block;
        font-size: $fs-big;
        width: 100%;
    }

    width: 75%;
    margin: 5% auto;
    @include flex(center);
    align-items: start;
    gap: 3rem;
    flex-wrap: wrap;
    &-card {
        transform: skewX(-2deg);
        @include flex(start);
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        flex-direction: column;
        align-items: start;
        border-radius: 10px;
        width: 25%;
        background-color: $primary-dark;
        padding: 2rem;
        color: $white;
        gap: 1rem;
        min-height: 350px;
        min-width: 250px;
        border: 2px solid $primary-dark;
        &:hover {
            border: 2px solid $accent;
        }
        .review-rating {
            color: #FCF55F;
            @include flex(center);
            align-items: start;
        }
        .review-summary {
            color: $white;
            font-size: $fs-medium;
        }
        .review-message {
            font-size: $fs-small;
            line-height: 160%;
            color: $neutral-grey;
        }
        .review-location {
            @include flex(start);
            justify-content: start;
            gap: .5rem;
            p {
                font-size: $fs-smallest;
                font-style: italic;
            }
        }
        .review-number {
            color: $neutral-grey;
            padding-left: .5rem;
        }
    }
}

@media only screen and (max-width: 768px) {

    .review {
        width: 100%;
        gap: 0rem;
        h2 {
            padding: 3%;
        }
    }
    .review-card {
        transform: none;
        min-height: 200px;
        width: 100%;
        margin: 3%;
    }
}