section {
    height: 100vh;
    background-color: white;
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        padding: 10rem 20rem;
    }
    img {
        /* https://smoothshadows.com/#djEsMiw1LDAuMDYsMzQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.06),
        0px 5px 5px rgba(3, 7, 18, 0.05),
        0px 12px 12px rgba(3, 7, 18, 0.04),
        0px 20px 22px rgba(3, 7, 18, 0.02),
        0px 32px 34px rgba(3, 7, 18, 0.01);
    }
}