section {
    background-color: white;
    height: 100vh;

    h2 {
        font-size: 2rem;
        font-family: Poppins;
        font-weight: 300;
        color: #8062D6;
        font-family: Poppins;
        text-align: center;
        background-color: #8062D6;
        color: #FFF;
        padding: 2rem;

        span {
            font-weight: 700;
        }
    } 

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6rem;
        width: 75%;
        margin: 5rem auto;
        background-color: white;
        border-radius: 15px;

        &:hover img:not(:hover) {
            transition: all .2s;
        }

        .card {
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            position: relative;   
            img {
                border-radius: 15px;
                margin-bottom: 2rem;
                &:hover {
                    transition: all ease .2s;
                    transform: translateY(-5px);
                }
                
            }
            span {
                padding: 2rem;
                font-size: 2rem;
                font-family: 'fraunces';
                font-weight: bold;
                color: #8062D6;
            }
            h3 {
                padding: .5rem 2rem;
                font-size: 1.2rem;
            }
            p {
                padding-inline: 2rem;
                padding-bottom: 2rem;
                font-style: italic;
                font-size: .8rem;
            }
            .detail {
                display: flex;
                justify-content: space-between;
            }
            i {
                font-size: 1.2rem;
                color: white;
                background-color: #8062D6;
                border-radius: 100vh;
                padding: 1rem;
                position: absolute;
                bottom: 30px;
                right: -20px;
                cursor: pointer;
            }
        }
    }
}